html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
    height: 100vh;
}

table {
    table-layout: fixed;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ta-c {
    text-align: center !important;
}
.ta-l {
    text-align: left !important;
}
.ta-r {
    text-align: right !important;
}
.fl-l {
    float: left !important;
}
.fl-r {
    float: right !important;
}
.no-events
{
    pointer-events: none;
}

.no-data-container {
    text-align: center;
    padding: 32px;
    font-size: large;
}

.records-container {
    flex-grow: 1;
    padding-right: 300px;
    height: 100%;
    overflow-y: auto;
}
.records-tool-panel {
    position: absolute;
    right: calc(50% - 492px);
    top: 48px;
    width: 300px;
    float: right;
}
.records-list {
    max-width: 720px;
    margin: auto;
}

.month-chip {
    width: 32px;
    height: 32px;
    padding: 0;
    text-align: center;
}

td.dailyweek-cell,
th.dailyweek-cell {
    width: 80px;
    text-align: center !important;
}

.today-cell {
    background-color: var(--mud-palette-background-gray) !important;
}

.daily-statistic-container {
    margin-top: 16px;
}
.daily-statistic {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.daily-statistic .month-text {
    width: 25px;
    line-height: 14px;
}
.daily-statistic .item {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 2px;

}
.daily-statistic .checkin {
    background-color: var(--mud-palette-success) !important;
    opacity: 0.8;
}
.daily-statistic .notcheck {
    background-color: var(--mud-palette-error) !important;
    opacity: 0.8;
}
.daily-statistic .unknown {
    background-color: var(--mud-palette-action-default) !important;
    opacity: 0.125;
}

.remind {
    display: inline-block;
    position: relative;
}
.remind-show::after {
    content: " ";
    position: absolute;
    top: 4px;
    right: -16px;
    background-color: var(--mud-palette-warning) !important;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}